
.banner {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.banner h1{

    font-size: 25px;
    color: white;
    padding: 20px;
}
.banner span {
    font-size: 15px;
    color: black;
}

.banner.valorant{background-image: linear-gradient(to right,white, #fd4350,#fd4350,#fd4350, white );}
.banner.r6s {background-image: linear-gradient(to right, #000,#000000,darkgray,#fff, #fff);}
.banner.cs2{background-image: linear-gradient(to right, #000,#293545,#000);}
.cs2 h1 {font-size: 25px}
.valorant h1{color: white; font-size: 25px}



main {
    display: flex;
    align-items: center;
    flex-basis: 250px;
    flex-flow: column wrap;
}
main img{
    width: 150px;
    height: 100px;
}
main.r6s{
    background-color: #292526;
    color: white;
}
main.cs2{
    background-color:  #293545;
}

