.selected{
    background-color: #1abc9c;
}

.menu{
    width: 50vw;
    height: 20vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #1e1e1e;
}
.menu a{
    text-decoration: none;
    background-color: #1abc9c;
    color: whitesmoke;
}
.menu a:hover{
    background-color: whitesmoke;
    color: #1abc9c;
}