
body{
    background-color: #434953;
    display: flex;
    place-content: center;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}
.container{
    display: flex;
    flex-flow: column;
    gap: 25px;
    place-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 15px;
}
.container form{
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    gap: 10px;
    place-content: center;

    align-items: center;
    width: 90%;
}
.container div{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    place-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}
.container div input{
    padding: 5px;
    border-radius: 10px;
}

.container button{
    border: none;
    padding: 20px;
    background-color: #1abc9c;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 15px;
}
form select{
    background-color: aliceblue;
    padding: 10px;
    margin: 0;
    border-radius: 0 15px 15px 0;
}
form label.select{
    padding: 10px;
    background-color: #1abc9c;
    border-radius: 15px 0 0 15px ;
    color: aliceblue;
    margin: 0;
}
.container div.select{
    display: flex;
    flex-flow: row;
    gap: 0;
}
.radioContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    place-content: center;
    width: 60%;
}
.radioContainer label:first-child{
    background-color: #114c7c;
}

.radioContainer label{
    width: 210px;
    padding: 20px;
    display: flex;
    place-content: space-evenly;
    background: #fd4350;
    border-radius: 15px;
}

.container button:hover{
    background-color: #0a0907;
}