body{
    display: flex;
    flex-flow: column wrap;
    gap: 50px;
    background: black;
    place-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
main .container{
    display: flex;
    background: #434953;
    flex-flow: column wrap;
    padding: 20px;
    border-radius: 15px;
    color: whitesmoke;
}
.container form{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.container form div{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    place-content: center;
}
.container form div input {
    width: 70%;
}